.button {
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    border: 0;
    cursor: pointer;

    &--rotate{
        transform: rotate(90deg);
        position: absolute;
        left: -124px;
    }

    @media only screen and (max-width : 768px) {
        font-size: 16px;
    }
    @media only screen and (max-width : 330px) {
        font-size: 16px;
        padding: 8px 20px;
    }
}

.button:hover {
    opacity: .8;
}

.button:focus, .button:active {
    outline: none;
}

.button:not([href]):not([tabindex]) {
    color: #fff;
}

.button-small{
    font-size: 12px!important;
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
}

.white-button {
    background: #fff;
    color: #9C193A;
}

.red-button, .red-button:focus {
    background: #9C193A;
    color: #fff;
    transition: all 0.4s ease-in-out;

}

.pink-button, .pink-button:focus {
    background: #D6879A;
    color: #fff;
}

.white-button:hover {
    color: #9C193A;
}

.edit-button {
    color:#9b1f3d;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    position: absolute;
    right: 10px;
    top: 20px;

    @media only screen and (max-width : 768px) {
        top: 18px;
    }
}

.save-button{
    right: 30px;
}
